body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    padding-top: 20px;
    min-height: 30%;
    text-align: center;
}

section {
    margin-top: 5%;
}

.content {
    padding: 10%;
}

#title {
    padding-top: 20px;
}